In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns

In [ ]:
!conda install numpy

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /root/anaconda3

  added / updated specs:
    - numpy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libblas-3.8.0              |           14_mkl          10 KB  conda-forge
    libcblas-3.8.0             |           14_mkl          10 KB  conda-forge
    liblapack-3.8.0            |           14_mkl          10 KB  conda-forge
    numpy-1.19.4               |   py37h7e9df27_1         5.2 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         5.2 MB

The following NEW packages will be INSTALLED:

  libblas            conda-forge/linux-64::libblas-3.8.0-14_mkl
  libcblas           conda-forge/linux-64::libcblas-3.8.0-14_mkl
  liblapack          conda-forge/linux-64::liblapack-3.8.0-14_mkl

The following packages will be UPDATED:

  numpy              pkgs/main::numpy-1.17.2-py37haad9e8e_0 --> conda-forge::numpy-1.19.4-py37h7e9df27_1


Proceed ([y]/n)?

In [1]:
help("modules")

Please wait a moment while I gather a list of all available modules...

/root/anaconda3/envs/Python3/lib/python3.6/site-packages/IPython/kernel/__init__.py:13: ShimWarning: The `IPython.kernel` package has been deprecated since IPython 4.0.You should import from ipykernel or jupyter_client instead.
  "You should import from ipykernel or jupyter_client instead.", ShimWarning)
/root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

WARNING:tensorflow:From /root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorflow_estimator/python/estimator/api/_v1/estimator/__init__.py:10: The name tf.estimator.inputs is deprecated. Please use tf.compat.v1.estimator.inputs instead.

From /root/anaconda3/envs/Python3/lib/python3.6/site-packages/tensorflow_estimator/python/estimator/api/_v1/estimator/__init__.py:10: The name tf.estimator.inputs is deprecated. Please use tf.compat.v1.estimator.inputs instead.

Crypto              brain_nose          jsonschema          reprlib
Cython              brain_numpy_core_fromnumeric jupyter             requests
IPython             brain_numpy_core_function_base jupyter_client      resource
OpenSSL             brain_numpy_core_multiarray jupyter_console     rlcompleter
PIL                 brain_numpy_core_numeric jupyter_core        rmagic
PyQt5               brain_numpy_core_numerictypes jupyter_server      rope
TCLIService         brain_numpy_core_umath jupyterlab          rsa
__future__          brain_numpy_ndarray jupyterlab_pygments rtree
_ast                brain_numpy_random_mtrand jupyterlab_server   ruamel_yaml
_asyncio            brain_numpy_utils   jupyterlab_widgets  runpy
_bisect             brain_pkg_resources keras_applications  s3fs
_black_version      brain_pytest        keras_preprocessing s3transfer
_blake2             brain_qt            keyring             sched
_bootlocale         brain_random        keyword             scipy
_bz2                brain_re            kiwisolver          seaborn
_cffi_backend       brain_responses     lark                secrets
_codecs             brain_scipy_signal  lazy_object_proxy   secretstorage
_codecs_cn          brain_six           lib2to3             select
_codecs_hk          brain_ssl           libarchive          selectors
_codecs_iso2022     brain_subprocess    libfuturize         send2trash
_codecs_jp          brain_threading     libpasteurize       setuptools
_codecs_kr          brain_typing        lief                shap
_codecs_tw          brain_uuid          lightgbm            shelve
_collections        brotli              linecache           shlex
_collections_abc    bs4                 llvmlite            shutil
_compat_pickle      builtins            locale              signal
_compression        bz2                 locket              simplegeneric
_crypt              bz2file             logging             singledispatch
_csv                cProfile            lxml                singledispatch_helpers
_ctypes             cached_property     lzma                sip
_ctypes_test        cachetools          macpath             sipconfig
_curses             calendar            macurl2path         sipdistutils
_curses_panel       certifi             mailbox             site
_datetime           cffi                mailcap             six
_decimal            cgi                 markdown            skimage
_distutils_hack     cgitb               markupsafe          sklearn
_dummy_thread       chardet             marshal             slicer
_elementtree        chunk               math                smart_open
_functools          click               matplotlib          smtpd
_hashlib            clonevirtualenv     mccabe              smtplib
_heapq              cloudpickle         mimetypes           sndhdr
_imp                clyent              mistune             sniffio
_io                 cmath               mkl                 snowballstemmer
_json               cmd                 mkl_fft             socket
_locale             code                mkl_random          socketserver
_lsprof             codecs              mmap                socks
_lzma               codeop              mock                sockshandler
_markupbase         collections         modulefinder        sortedcollections
_md5                colorama            more_itertools      sortedcontainers
_multibytecodec     colorsys            mpmath              soupsieve
_multiprocessing    compileall          msgpack             sphinx
_opcode             concurrent          multidict           sphinxcontrib
_operator           configparser        multipledispatch    spwd
_osx_support        contextlib          multiprocessing     spyder
_pickle             contextlib2         mypy_extensions     spyder_kernels
_posixsubprocess    contextvars         nbclassic           sql_to_ibis
_pydecimal          copy                nbclient            sqlalchemy
_pyio               copyreg             nbconvert           sqlite3
_pyrsistent_version crypt               nbformat            sre_compile
_pytest             cryptography        nest_asyncio        sre_constants
_random             csv                 netrc               sre_parse
_sha1               ctypes              networkx            ssl
_sha256             curl                nis                 stat
_sha3               curses              nltk                statistics
_sha512             cycler              nntplib             statsmodels
_signal             cython              nose                storemagic
_sitebuiltins       cythonmagic         notebook            string
_socket             cytoolz             ntpath              stringprep
_sqlite3            dask                nturl2path          struct
_sre                dataclasses         numba               subprocess
_ssl                datetime            numbers             sunau
_stat               dateutil            numexpr             symbol
_string             dbm                 numpy               sympy
_strptime           decimal             numpydoc            sympyprinting
_struct             decorator           olefile             symtable
_symtable           defusedxml          opcode              sys
_sysconfigdata_aarch64_conda_cos7_linux_gnu diff_match_patch    openpyxl            sysconfig
_sysconfigdata_aarch64_conda_linux_gnu difflib             operator            syslog
_sysconfigdata_i686_conda_cos6_linux_gnu dis                 optparse            tables
_sysconfigdata_i686_conda_linux_gnu distributed         os                  tabnanny
_sysconfigdata_m_linux_x86_64-linux-gnu distutils           ossaudiodev         tarfile
_sysconfigdata_powerpc64le_conda_cos7_linux_gnu doctest             packaging           tblib
_sysconfigdata_powerpc64le_conda_linux_gnu docutils            pandas              telnetlib
_sysconfigdata_x86_64_apple_darwin13_4_0 dummy_threading     pandocfilters       tempfile
_sysconfigdata_x86_64_conda_cos6_linux_gnu easy_install        parser              tensorboard
_sysconfigdata_x86_64_conda_linux_gnu email               parso               tensorflow
_testbuffer         encodings           partd               tensorflow_estimator
_testcapi           ensurepip           past                termcolor
_testimportmultiple entrypoints         pasta               terminado
_testmultiphase     enum                path                termios
_thread             errno               pathlib             test
_threading_local    et_xmlfile          pathlib2            test_pycosat
_tkinter            fastcache           pathspec            testpath
_tracemalloc        faulthandler        pathtools           tests
_warnings           fcntl               patsy               textdistance
_weakref            filecmp             pdb                 textwrap
_weakrefset         fileinput           pep8                this
_yaml               filelock            pexpect             threading
abc                 flake8              pickle              threadpoolctl
absl                flask               pickleshare         three_merge
aifc                fnmatch             pickletools         time
aiobotocore         formatter           pip                 timeit
aiohttp             fractions           pipenv              tkinter
aioitertools        fsspec              pipes               tlz
alabaster           ftplib              pkg_resources       token
anaconda_project    functools           pkginfo             tokenize
antigravity         future              pkgutil             toml
anyio               gast                platform            toolz
appdirs             gc                  plistlib            tornado
argh                genericpath         pluggy              tqdm
argon2              gensim              ply                 trace
argparse            getopt              poplib              traceback
array               getpass             posix               tracemalloc
asn1crypto          gettext             posixpath           traitlets
ast                 gevent              pprint              tty
astor               glob                pretty_html_table   turtle
astroid             glob2               profile             turtledemo
astropy             gmpy2               prometheus_client   typed_ast
async_generator     google_crc32c       prompt_toolkit      types
async_timeout       greenlet            pstats              typing
asynchat            grp                 psutil              typing_extensions
asyncio             grpc                psycopg2            ujson
asyncore            gzip                pty                 unicodecsv
atexit              h5py                ptyprocess          unicodedata
atomicwrites        hashlib             pvectorc            unittest
attr                heapdict            pwd                 urllib
audioop             heapq               py                  urllib3
autopep8            helpdev             py4j                uu
autoreload          hmac                py_compile          uuid
babel               html                pyarrow             venv
backcall            html5lib            pyasn1              virtualenv
backports           http                pyasn1_modules      virtualenv_support
base64              hyperopt            pyclbr              warnings
bdb                 ibis                pycodestyle         watchdog
benchmarks          idlelib             pycosat             wave
binascii            idna                pycparser           wcwidth
binhex              idna_ssl            pycurl              weakref
binstar_client      imageio             pydoc               webbrowser
bisect              imagesize           pydoc_data          webencodings
bitarray            imaplib             pydocstyle          werkzeug
bkcharts            imblearn            pyexpat             wheel
black               imghdr              pyflakes            widgetsnbextension
blackd              immutables          pygments            wrapt
bleach              imp                 pyhive              wsgiref
blib2to3            importlib           pylab               wurlitzer
bokeh               importlib_metadata  pylint              xdg
boto                iniconfig           pyls                xdrlib
boto3               inspect             pyls_black          xlrd
botocore            intervaltree        pyls_jsonrpc        xlsxwriter
bottleneck          io                  pyls_spyder         xlwt
brain_argparse      ipaddress           pyodbc              xml
brain_attrs         ipykernel           pyparsing           xmlrpc
brain_boto3         ipykernel_launcher  pyrsistent          xxlimited
brain_builtin_inference ipyparallel         pyspark             xxsubtype
brain_collections   ipython_genutils    pytest              yaml
brain_crypt         ipywidgets          pytz                yapf
brain_curses        isort               pywt                yapftests
brain_dataclasses   isympy              pyximport           yarl
brain_dateutil      itertools           qdarkstyle          zict
brain_fstrings      itsdangerous        qtawesome           zipapp
brain_functools     jdcal               qtconsole           zipfile
brain_gi            jedi                qtpy                zipimport
brain_hashlib       jeepney             queue               zipp
brain_http          jinja2              quopri              zlib
brain_io            jmespath            random              zmq
brain_mechanize     joblib              re                  zope
brain_multiprocessing json                readline
brain_namedtuple_enum json5               regex

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

In [5]:
!sudo apt-get install python-pip

sudo: apt-get: command not found

In [1]:
!pip freeze

absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1615404881292/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1605734405039/work
alabaster==0.7.12
alembic==1.3.1
anaconda-clean==1.0
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
ansiwrap==0.8.4
appdirs==1.4.4
asn1crypto==1.0.1
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
astroid==2.3.1
astropy==3.2.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.2.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
black==19.10b0
bleach==3.1.0
blinker==1.4
bokeh==2.3.1
Boruta==0.3
BorutaShap==1.0.15
boto==2.49.0
boto3==1.12.8
botocore==1.15.8
Bottleneck==1.3.2
bz2file==0.98
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1593420445823/work
certifi==2020.12.5
certipy==0.1.3
cffi==1.12.3
chardet==3.0.4
Click==7.0
cliff==3.7.0
cloudpickle==1.2.2
clyent==1.2.2
cmaes==0.8.2
cmd2==1.5.0
colorama==0.4.1
colorlog==4.8.0
conda==4.10.1
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
configparser==4.0.2
contextlib2==0.6.0
coverage==5.5
cryptography==2.7
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.30.0
databricks-cli==0.9.1
dataprep==0.2.15
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.2
distlib==0.3.1
distributed==2.5.2
docker==4.1.0
docutils==0.15.2
editdistance==0.5.3
efficientnet==1.0.0
eli5==0.10.1
entrypoints==0.3
essential-generators==0.9.2
et-xmlfile==1.0.1
fastcache==1.1.0
fastparquet==0.4.1
filelock==3.0.12
findspark==1.3.0
flake8==3.9.2
Flask==1.1.1
fonttools==4.13.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1601068219741/work
future==0.18.2
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
gevent==1.4.0
gitdb2==2.0.6
GitPython==3.0.5
glob2==0.7
gmpy2==2.0.8
google-api-core==1.17.0
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1608136875028/work
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-storage_1596032458250/work
google-crc32c @ file:///home/conda/feedstock_root/build_artifacts/google-crc32c_1602546489752/work
google-pasta==0.2.0
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1608141079349/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1604414770577/work
googletrans==2.4.0
gorilla==0.3.0
graphviz==0.13.2
greenlet==0.4.15
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1604365513151/work
gunicorn==20.0.4
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.0.1
httplib2==0.18.1
hyperopt==0.2.4
idna==2.8
imageio==2.6.0
imagesize==1.1.0
imgaug==0.4.0
importlib-metadata==4.0.1
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1595446871027/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipyparallel==6.2.4
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
jeepney==0.4.1
Jinja2==2.11.3
jmespath==0.9.4
joblib==0.13.2
json5==0.8.5
jsonpath-ng==1.5.2
jsonpickle==1.4.1
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.0.0
jupyter-core==4.6.3
jupyterhub==1.0.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
keras-ocr==0.8.4
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
libarchive-c==2.8
lief==0.9.0
lightgbm==3.0.0
llvmlite==0.29.0
locket==0.2.0
lxml==4.4.1
Mako==1.1.0
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1614595805172/work
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mlflow==1.5.0
mock==3.0.5
modin==0.7.1
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.6.1
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1602413133191/work
multipledispatch==0.6.0
navigator-updater==0.2.1
nbclient==0.4.1
nbconvert==5.6.0
nbformat==4.4.0
nest-asyncio==1.4.0
networkx==2.3
nltk==3.6.2
nose==1.3.7
notebook==6.0.1
numba==0.45.1
numexpr==2.7.0
numpy==1.20.3
numpydoc==0.9.1
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.32
openpyxl==3.0.0
opt-einsum==3.3.0
optuna==2.7.0
package-name==0.1
packaging==20.9
pamela==1.0.0
pandarallel==1.4.8
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1602448171798/work
pandasql==0.7.3
pandocfilters==1.4.2
papermill==2.1.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
pathspec==0.8.0
patsy==0.5.1
pbr==5.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.2.0
pip-conflict-checker==0.6.0
pkginfo==1.5.0.1
plotly==4.5.0
pluggy==0.13.0
ply==3.11
pretty-html-table @ file:///home/conda/feedstock_root/build_artifacts/pretty_html_table_1618945748280/work
prettytable==2.1.0
prometheus-client==0.7.1
prometheus-flask-exporter==0.12.1
prompt-toolkit==2.0.10
protobuf==3.11.2
psutil==5.6.3
psycopg2==2.8.5
ptyprocess==0.6.0
py==1.8.0
py4j==0.10.7
pyarrow==0.11.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.2.0
pycodestyle==2.7.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pydantic==1.8.1
pydot==1.4.1
pyflakes==2.3.1
Pygments==2.4.2
PyHive==0.6.2
PyJWT==1.7.1
pylint==2.4.2
pymongo==3.10.1
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyperclip==1.8.2
pyrsistent==0.15.4
PySocks==1.7.1
pyspark==2.4.4
pytest==5.2.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.3
PyWavelets==1.0.3
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
querystring-parser==1.2.4
regex==2020.11.13
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.14.0
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1610280765105/work
ruamel-yaml==0.15.46
s3fs==0.2.2
s3transfer==0.3.3
sagemaker==1.0.0
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.9.0
SecretStorage==3.1.1
Send2Trash==1.5.0
shap==0.35.0
Shapely==1.7.0
simplegeneric==0.8.1
simplejson==3.17.0
singledispatch==3.4.0.3
six==1.16.0
smart-open==2.0.0
smmap2==2.0.5
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.3
spark==0.2.1
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1602395242595/work
sqlparse==0.3.0
statsmodels==0.10.1
stevedore==3.3.0
sympy==1.4
tables==3.5.2
tabulate==0.8.6
tblib==1.4.0
tenacity==6.2.0
tensorboard==2.1.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
textwrap3==0.9.2
thrift==0.13.0
toml==0.10.1
toolz==0.10.0
tornado==6.0.3
tqdm==4.60.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.10.0.0
unicodecsv==0.14.1
urllib3==1.24.2
validators==0.15.0
virtualenv==20.4.7
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.16.0
widgetsnbextension==3.5.1
Wikipedia-API==0.5.4
wordcloud==1.8.1
wrapt==1.11.2
wurlitzer==1.0.3
xgboost==0.82
xlrd==1.2.0
XlsxWriter==1.2.1
xlwt==1.3.0
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1605429464118/work
zict==1.0.0
zipp==3.4.1

In [16]:
df = pd.read_parquet('')

FileNotFoundError: prod-search-ranking-ml/data/Shatishay/Gurgaon/RawData/Nov29_To_Grandfinal_Jan31_Data_new/

In [15]:
df

,hotelid,userId,bookingid,requestid,hotelType,hotelslasherprice,raw_recommended_hotel_wc,raw_recommended_hotel,recommended_hotel,placeid,...,totolBookings_forcheckin,realisedBookings,isCitySearch,rfmScore,segment_id,segment_name,hotelAmenityCount,room_amenities_list_ids,bookingFlag,detailsFlag
0,471,,None,edb17601-47f5-4772-9461-a3fb2b7a6184||google_r...,10.0,4797.00,0.000000,0.0,0.0,,...,NaN,NaN,0,None,None,None,49.0,"[23, 30, 24, 36, 29]",0,0
1,471,45973611,None,36868b12-0027-492b-9e39-eb80d880ec6d||google_r...,10.0,4022.00,0.000000,0.0,0.0,,...,NaN,NaN,0,None,None,None,49.0,"[23, 30, 24, 36, 29]",0,0
2,9852,43315716,None,1f4868dc-923a-4650-8e4d-4100b5900fbe||google_r...,10.0,3401.50,0.000000,0.0,0.0,,...,196.0,65.0,0,None,None,None,12.0,"[23, 30, 24]",0,0
3,9852,10436373,None,311ef94d-e62b-4318-b12a-a2404fe8152b||oyo-loca...,10.0,2512.00,0.000000,0.0,0.0,,...,196.0,65.0,0,None,None,None,12.0,"[23, 30, 24]",0,0
4,9852,11820442,None,f8035ae4-0887-4b05-952b-b4089dce17e4,10.0,2703.00,0.005500,0.0,0.0,,...,196.0,65.0,1,None,None,None,12.0,"[23, 30, 24]",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6870146,107359,20826587,None,3e437083-0f71-49c5-b150-0a278e6c1423||582566949,10.0,2478.33,0.000000,0.0,0.0,582566949,...,196.0,69.0,0,None,None,None,NaN,"[24, 23]",0,0
6870147,107359,21292287,None,bc765c51-56fa-4a73-995c-30a1229ee9a8||google_r...,10.0,2405.00,0.000000,0.0,0.0,google_record_ChIJ85O6tekXrjsR13jdBn4Ge-c,...,196.0,69.0,0,None,None,None,NaN,"[24, 23]",0,0
6870148,107359,34239467,None,a1ee97b2-26fc-4261-af56-902c6820a314||oyo-loca...,10.0,1690.00,0.003333,0.0,0.0,oyo-locality-19859270,...,196.0,69.0,0,None,None,None,NaN,"[24, 23]",0,0
6870149,107359,102965996,None,52682a0f-e406-4b3c-8048-8a81b3ef2a22||oyo-loca...,10.0,2813.00,0.000000,0.0,0.0,oyo-locality-15957661,...,196.0,69.0,0,None,None,None,NaN,"[24, 23]",0,0
6870150,107359,17376518,None,2f260b16-6add-4d0d-ab94-0b3d3b40fdd8||google_r...,10.0,3711.00,0.006500,0.0,0.0,,...,196.0,69.0,0,None,None,None,NaN,"[24, 23]",0,0

In [4]:
df.head(2)

,objective,hotelid,requestid,userId,searchtime,displayCategory,placeid,searchdate,fprice,segment_id,...,hotel_user_br,hotel_user_rr,user_cat_ctr,user_cat_btod,user_cat_br,user_cat_rr,is_locality_search,details_flag_count,distance,csv_weight
0,1,48733,001fb3ab-b9d1-42ac-a2a4-0f3df3d34d6b,51184027,202101182121,OYO Rooms,None,20210118,1309.0,None,...,0.0,0.0,0.000,0.0,0.0,0.0,0,1,2.936326,4.425263
1,1,39782,00538c6d-ef93-46fa-b343-6a4fe9d259a6||google_r...,21961899,202012131514,Townhouse,None,20201213,2053.0,None,...,0.0,0.0,0.075,0.0,0.0,0.0,1,1,1.658600,4.425263

In [5]:
df.columns

Index(['objective', 'hotelid', 'requestid', 'userId', 'searchtime',
       'displayCategory', 'placeid', 'searchdate', 'fprice', 'segment_id',
       'rfmScore', 'segment_name', 'hotelAmenityCount', 'requestedguest',
       'room_amenities_list_ids_count', 'inserted_at', 'realisedBookingFlag',
       'bookingFlag', 'detailsFlag', 'hotelType', 'rank', 'user_abp',
       'place_popularity_score', 'discount_per', 'stayLength',
       'is_weekend_checkin', 'is_weekend_searchDate', 'abp_price_diff',
       'day_of_week_checkin', 'recom_score', 'day_of_week_searchDate',
       'advPurchaseWindow', 'is_nearBy_search', 'is_city_search', 'vicinity',
       'ratingMean', 'ratingCount', 'hotel_ctr', 'hotel_btod', 'hotel_br',
       'hotel_rr', 'hotel_placeid_ctr', 'hotel_placeid_btod',
       'hotel_placeid_br', 'hotel_placeid_rr', 'hotel_user_ctr',
       'hotel_user_btod', 'hotel_user_br', 'hotel_user_rr', 'user_cat_ctr',
       'user_cat_btod', 'user_cat_br', 'user_cat_rr', 'is_locality_search',
       'details_flag_count', 'distance', 'csv_weight'],
      dtype='object')

In [6]:
df['imp']=1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4407932 entries, 0 to 4407931
Data columns (total 58 columns):
 #   Column                         Dtype
---  ------                         -----
 0   objective                      int32
 1   hotelid                        object
 2   requestid                      object
 3   userId                         object
 4   searchtime                     object
 5   displayCategory                object
 6   placeid                        object
 7   searchdate                     object
 8   fprice                         float64
 9   segment_id                     object
 10  rfmScore                       object
 11  segment_name                   object
 12  hotelAmenityCount              float64
 13  requestedguest                 int32
 14  room_amenities_list_ids_count  int32
 15  inserted_at                    object
 16  realisedBookingFlag            int32
 17  bookingFlag                    int32
 18  detailsFlag                    int32
 19  hotelType                      float64
 20  rank                           int32
 21  user_abp                       float64
 22  place_popularity_score         float64
 23  discount_per                   float64
 24  stayLength                     int32
 25  is_weekend_checkin             int32
 26  is_weekend_searchDate          int32
 27  abp_price_diff                 float64
 28  day_of_week_checkin            int32
 29  recom_score                    float64
 30  day_of_week_searchDate         float64
 31  advPurchaseWindow              int32
 32  is_nearBy_search               int32
 33  is_city_search                 int32
 34  vicinity                       int32
 35  ratingMean                     float64
 36  ratingCount                    float64
 37  hotel_ctr                      float64
 38  hotel_btod                     float64
 39  hotel_br                       float64
 40  hotel_rr                       float64
 41  hotel_placeid_ctr              float64
 42  hotel_placeid_btod             float64
 43  hotel_placeid_br               float64
 44  hotel_placeid_rr               float64
 45  hotel_user_ctr                 float64
 46  hotel_user_btod                float64
 47  hotel_user_br                  float64
 48  hotel_user_rr                  float64
 49  user_cat_ctr                   float64
 50  user_cat_btod                  float64
 51  user_cat_br                    float64
 52  user_cat_rr                    float64
 53  is_locality_search             int32
 54  details_flag_count             int64
 55  distance                       float64
 56  csv_weight                     float64
 57  imp                            int64
dtypes: float64(29), int32(16), int64(2), object(11)
memory usage: 1.6+ GB

In [8]:
df[['realisedBookingFlag', 'bookingFlag', 'detailsFlag', 'imp' , 'hotelid']]

         realisedBookingFlag  bookingFlag  detailsFlag  imp hotelid
0                          0            0            1    1   48733
1                          0            0            1    1   39782
2                          0            0            1    1   60453
3                          0            0            1    1     272
4                          0            0            1    1    6418
...                      ...          ...          ...  ...     ...
4407927                    0            1            1    1   13149
4407928                    0            1            1    1   44426
4407929                    0            1            1    1   77489
4407930                    0            1            1    1   16503
4407931                    0            1            1    1   95621

[4407932 rows x 5 columns]

In [9]:
df['hotelid'].nunique()

1063

In [10]:
df['requestid'].count()

4407932

In [11]:
def funt(df):
    df['%impression']=(df['imp']/df['imp'].sum())*100
    df['%detailsPage']=(df['detailsFlag']/df['detailsFlag'].sum())*100
    df['%bookings'] = (df['bookingFlag']/df['bookingFlag'].sum()) * 100
    df['%realised'] = (df['realisedBookingFlag']/df['realisedBookingFlag'].sum()) * 100
    df['rr']= df['realisedBookingFlag']/df['bookingFlag']
    df['br']=df['bookingFlag']/df['detailsFlag']
    df['ctr']=df['detailsFlag']/df['imp'].sum()
    df=df.drop(['realisedBookingFlag', 'bookingFlag', 'detailsFlag', 'imp'],axis=1)
                
    return df

In [12]:
def fum(df,c):
    y=df.groupby(pd.cut(df[c],np.arange(0,df[c].max()+5,5)))["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"].sum()
    y=funt(y)
    
    return y

In [13]:
s_date=df.groupby(['searchdate'])[['realisedBookingFlag', 'bookingFlag', 'detailsFlag', 'imp']].sum()
s_date=funt(s_date)
s_date['UNIQUE_HOTELS_COUNT']=df.groupby(['searchdate'])[ 'hotelid'].nunique()

In [14]:
s_date.sort_values(by='searchdate',ascending=False).reset_index()

,searchdate,%impression,%detailsPage,%bookings,%realised,rr,br,ctr,UNIQUE_HOTELS_COUNT
0,20210119,2.490306,2.556365,2.205615,2.407669,0.333677,0.044771,0.004920,525
1,20210118,2.542734,2.626145,2.237416,2.533997,0.346193,0.044210,0.005055,484
2,20210117,2.311810,2.406671,2.148828,2.162443,0.307611,0.046332,0.004632,486
3,20210116,2.697455,2.755448,2.607669,2.905551,0.340592,0.049108,0.005303,528
4,20210115,2.789313,2.869075,2.628112,2.727205,0.317200,0.047533,0.005522,569
5,20210114,2.482026,2.606342,2.319190,2.481980,0.327130,0.046174,0.005016,522
6,20210113,2.599110,2.670228,2.455479,2.645463,0.329325,0.047718,0.005139,508
7,20210112,2.644982,2.764406,2.696257,2.920413,0.331087,0.050612,0.005321,489
8,20210111,2.654124,2.726216,2.157914,2.177305,0.308421,0.041074,0.005247,525
9,20210110,2.583887,2.659030,2.505452,2.481980,0.302811,0.048894,0.005118,492
10,20210109,2.990813,3.018534,2.909776,3.187932,0.334895,0.050021,0.005810,535
11,20210108,2.999842,3.004507,2.957478,3.098759,0.320276,0.051079,0.005783,578
12,20210107,2.790016,2.821573,2.887062,3.128483,0.331235,0.053095,0.005431,564
13,20210106,2.745755,2.791870,2.943849,3.128483,0.324846,0.054716,0.005373,560
14,20210105,2.841106,2.918816,2.866618,2.979862,0.317750,0.050963,0.005618,539
15,20210104,2.756440,2.764878,2.439578,2.623170,0.328678,0.045786,0.005322,572
16,20210103,2.618643,2.684372,2.396420,2.259047,0.288152,0.046325,0.005167,582
17,20210102,2.992174,3.063560,2.796202,3.254812,0.355808,0.047363,0.005896,607
18,20210101,3.016108,3.034328,3.454934,3.522330,0.311637,0.059084,0.005840,667
19,20201231,2.832780,2.817919,3.032437,2.898120,0.292135,0.055841,0.005424,743
20,20201230,2.938634,2.980344,2.977921,2.385376,0.244851,0.051849,0.005736,716
21,20201229,2.730578,2.739182,2.975650,2.860965,0.293893,0.056371,0.005272,627
22,20201228,1.141941,1.169624,1.138016,0.936316,0.251497,0.050489,0.002251,614
23,20201227,0.001520,0.001179,0.000000,0.000000,NaN,0.000000,0.000002,58
24,20201226,3.311984,2.822752,3.048337,2.749498,0.275708,0.056038,0.005433,703
25,20201225,3.285668,2.742364,2.521352,2.140150,0.259459,0.047709,0.005278,620
26,20201224,3.316725,2.819216,2.832546,2.675188,0.288693,0.052136,0.005426,627
27,20201223,2.816559,2.625084,2.659913,2.415100,0.277541,0.052580,0.005052,650
28,20201222,2.631257,2.614593,2.848446,2.623170,0.281499,0.056532,0.005032,590
29,20201221,2.567349,2.603160,3.025622,2.697481,0.272523,0.060312,0.005010,612
30,20201220,2.528623,2.591019,2.821188,2.853533,0.309179,0.056501,0.004987,540
31,20201219,2.763995,2.825698,2.998365,3.158208,0.321970,0.055062,0.005439,596
32,20201218,2.791127,2.805307,2.846175,2.786654,0.299282,0.052647,0.005399,555
33,20201217,2.627264,2.698988,2.864347,2.987293,0.318795,0.055070,0.005195,568
34,20201216,2.380822,2.432838,2.732600,2.630601,0.294264,0.058285,0.004682,559
35,20201215,2.678989,2.741657,3.061966,2.979862,0.297478,0.057954,0.005277,572
36,20201214,2.558864,2.633570,2.828003,2.704912,0.292369,0.055722,0.005069,582
37,20201213,2.545184,2.589958,3.166455,2.890689,0.279053,0.063441,0.004985,541
38,20201212,0.003494,0.003182,0.006814,0.000000,0.000000,0.111111,0.000006,87

In [15]:
rank=df.groupby('rank')[['realisedBookingFlag', 'bookingFlag', 'detailsFlag', 'imp']].sum()
rank=funt(rank)
rank["UNIQUE_HOTELS_COUNT"]=df.groupby(['rank'])[ 'hotelid'].nunique()

In [16]:
rank.sort_values(by='rank').reset_index()

,rank,%impression,%detailsPage,%bookings,%realised,rr,br,ctr,UNIQUE_HOTELS_COUNT
0,1,13.538435,30.698074,38.767490,40.321023,0.317923,0.065531,0.059084,718
1,2,13.295169,17.827137,19.582500,20.101063,0.313769,0.057001,0.034312,772
2,3,12.192316,11.976068,11.464201,11.198633,0.298593,0.049673,0.023050,774
3,4,10.576570,8.713307,7.911594,8.337668,0.322136,0.047117,0.016770,782
4,5,9.588034,7.379372,6.142104,5.833395,0.290311,0.043191,0.014203,800
5,6,8.200558,5.309456,4.295384,3.916177,0.278689,0.041980,0.010219,819
6,7,7.577930,4.156687,2.975650,2.927844,0.300763,0.037147,0.008000,816
7,8,6.973860,3.555078,2.594040,2.259047,0.266200,0.037863,0.006842,829
8,9,6.135734,3.191567,2.160185,2.043546,0.289169,0.035122,0.006143,803
9,10,5.566964,3.574291,1.912593,1.486215,0.237530,0.027767,0.006879,807
10,11,0.614097,0.431051,0.333909,0.304674,0.278912,0.040197,0.000830,516
11,12,0.571787,0.378834,0.243049,0.141190,0.177570,0.033292,0.000729,506
12,13,0.533901,0.337580,0.195348,0.111466,0.174419,0.030028,0.000650,494
13,14,0.492022,0.305873,0.199891,0.185777,0.284091,0.033911,0.000589,496
14,15,0.450483,0.271573,0.179448,0.133759,0.227848,0.034288,0.000523,488
15,16,0.412234,0.219003,0.131746,0.074311,0.172414,0.031216,0.000422,492
16,17,0.376095,0.110208,0.063602,0.037155,0.178571,0.029947,0.000212,488
17,18,0.346489,0.086163,0.054516,0.014862,0.083333,0.032832,0.000166,490
18,19,0.257263,0.081095,0.061330,0.022293,0.111111,0.039244,0.000156,469
19,20,0.216292,0.083452,0.040887,0.014862,0.111111,0.025424,0.000161,460
20,21,0.198528,0.150166,0.068145,0.052018,0.233333,0.023548,0.000289,454
21,22,0.190520,0.135904,0.065873,0.037155,0.172414,0.025152,0.000262,441
22,23,0.180515,0.124117,0.079502,0.052018,0.200000,0.033238,0.000239,442
23,24,0.169603,0.112684,0.059059,0.022293,0.115385,0.027197,0.000217,444
24,25,0.158283,0.102783,0.052244,0.037155,0.217391,0.026376,0.000198,440
25,26,0.147303,0.085220,0.056787,0.029724,0.160000,0.034578,0.000164,438
26,27,0.136050,0.030293,0.013629,0.022293,0.500000,0.023346,0.000058,435
27,28,0.126635,0.026639,0.020443,0.029724,0.444444,0.039823,0.000051,439
28,29,0.093491,0.024517,0.013629,0.014862,0.333333,0.028846,0.000047,412
29,30,0.076408,0.034182,0.006814,0.007431,0.333333,0.010345,0.000066,399
30,31,0.048708,0.047737,0.034072,0.029724,0.266667,0.037037,0.000092,369
31,32,0.047233,0.049388,0.024986,0.007431,0.090909,0.026253,0.000095,365
32,33,0.044238,0.044083,0.038615,0.029724,0.235294,0.045455,0.000085,369
33,34,0.040926,0.040665,0.020443,0.014862,0.222222,0.026087,0.000078,366
34,35,0.037682,0.036304,0.013629,0.014862,0.333333,0.019481,0.000070,360
35,36,0.035187,0.031943,0.011357,0.007431,0.200000,0.018450,0.000061,351
36,37,0.032010,0.007897,0.002271,0.000000,0.000000,0.014925,0.000015,351
37,38,0.029833,0.005776,0.002271,0.000000,0.000000,0.020408,0.000011,342
38,39,0.016743,0.005186,0.006814,0.000000,0.000000,0.068182,0.000010,291
39,40,0.010481,0.005658,0.000000,0.000000,NaN,0.000000,0.000011,221
40,41,0.022596,0.025342,0.009086,0.022293,0.750000,0.018605,0.000049,308
41,42,0.022278,0.024753,0.011357,0.022293,0.600000,0.023810,0.000048,297
42,43,0.021461,0.022042,0.015900,0.022293,0.428571,0.037433,0.000042,298
43,44,0.019783,0.021334,0.013629,0.014862,0.333333,0.033149,0.000041,287
44,45,0.018557,0.018034,0.009086,0.014862,0.500000,0.026144,0.000035,275
45,46,0.016992,0.012966,0.004543,0.000000,0.000000,0.018182,0.000025,269
46,47,0.015767,0.004479,0.000000,0.000000,NaN,0.000000,0.000009,275
47,48,0.014950,0.002829,0.004543,0.007431,0.500000,0.083333,0.000005,263
48,49,0.008712,0.002004,0.000000,0.000000,NaN,0.000000,0.000004,203
49,50,0.005853,0.001297,0.000000,0.000000,NaN,0.000000,0.000002,175
50,51,0.012999,0.014498,0.009086,0.007431,0.250000,0.032520,0.000028,241
51,52,0.012750,0.014027,0.004543,0.000000,0.000000,0.016807,0.000027,251
52,53,0.011865,0.012258,0.004543,0.007431,0.500000,0.019231,0.000024,233
53,54,0.011343,0.010962,0.000000,0.000000,NaN,0.000000,0.000021,230
54,55,0.010617,0.010608,0.004543,0.000000,0.000000,0.022222,0.000020,239
55,56,0.010050,0.008369,0.004543,0.007431,0.500000,0.028169,0.000016,213
56,57,0.009369,0.002711,0.000000,0.000000,NaN,0.000000,0.000005,212
57,58,0.008961,0.002004,0.000000,0.000000,NaN,0.000000,0.000004,207
58,59,0.005377,0.001297,0.002271,0.000000,0.000000,0.090909,0.000002,159
59,60,0.003108,0.001179,0.002271,0.000000,0.000000,0.100000,0.000002,110

In [17]:
t=df.groupby(pd.cut(df['distance'], np.arange(0,df['distance'].max()+1,2)))[['realisedBookingFlag', 'bookingFlag', 'detailsFlag', 'imp']].sum()
t=funt(t)

x=df.groupby(pd.cut(df['distance'], np.arange(0,df['distance'].max()+1,2)))[['hotelid']].nunique()
t['UNIQUE_HOTELS_COUNT']=x
t

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr,UNIQUE_HOTELS_COUNT
distance,,,,,,,,
"(0.0, 2.0]",31.071785,37.192282,47.704754,51.866449,0.332269,0.066637,7.156390e-02,815
"(2.0, 4.0]",25.761882,25.414256,27.404327,27.424152,0.305830,0.056021,4.890109e-02,731
"(4.0, 6.0]",13.790577,12.158899,10.058177,9.428911,0.286489,0.042977,2.339567e-02,665
"(6.0, 8.0]",7.116703,6.400583,5.160894,4.692148,0.277851,0.041890,1.231575e-02,619
"(8.0, 10.0]",6.616218,5.940607,3.954186,3.011600,0.232759,0.034581,1.143068e-02,579
"(10.0, 12.0]",2.122798,2.362335,1.563494,1.085663,0.212209,0.034385,4.545510e-03,492
"(12.0, 14.0]",2.756952,2.282406,1.304427,0.877454,0.205575,0.029692,4.391714e-03,516
"(14.0, 16.0]",1.758617,1.370837,0.613581,0.453599,0.225926,0.023254,2.637709e-03,489
"(16.0, 18.0]",1.131300,0.948523,0.424961,0.334622,0.240642,0.023276,1.825110e-03,472
"(18.0, 20.0]",1.576333,1.333529,0.484047,0.282570,0.178404,0.018858,2.565922e-03,476
"(20.0, 22.0]",0.652283,0.512750,0.143169,0.104105,0.222222,0.014506,9.866136e-04,391
"(22.0, 24.0]",0.791949,0.642738,0.149986,0.104105,0.212121,0.012123,1.236731e-03,396
"(24.0, 26.0]",0.447713,0.366706,0.118171,0.044616,0.115385,0.016742,7.056002e-04,384
"(26.0, 28.0]",0.357934,0.293860,0.120444,0.052052,0.132075,0.021294,5.654343e-04,374
"(28.0, 30.0]",0.562027,0.364935,0.122716,0.029744,0.074074,0.017470,7.021926e-04,409
"(30.0, 32.0]",0.664050,0.463754,0.129534,0.014872,0.035088,0.014511,8.923367e-04,406
"(32.0, 34.0]",0.735973,0.552892,0.154531,0.066924,0.132353,0.014521,1.063853e-03,414
"(34.0, 36.0]",0.453165,0.279102,0.059086,0.014872,0.076923,0.010998,5.370377e-04,422
"(36.0, 38.0]",0.483379,0.313813,0.084083,0.014872,0.054054,0.013920,6.038266e-04,439
"(38.0, 40.0]",0.630224,0.406965,0.140896,0.007436,0.016129,0.017987,7.830663e-04,458
"(40.0, 42.0]",0.112996,0.074380,0.022725,0.029744,0.400000,0.015873,1.431192e-04,293
"(42.0, 44.0]",0.091051,0.061865,0.027270,0.014872,0.166667,0.022901,1.190388e-04,324
"(44.0, 46.0]",0.104977,0.083707,0.022725,0.014872,0.200000,0.014104,1.610659e-04,289
"(46.0, 48.0]",0.071855,0.062220,0.011363,0.014872,0.400000,0.009488,1.197203e-04,295
"(48.0, 50.0]",0.134736,0.113931,0.020453,0.014872,0.222222,0.009326,2.192222e-04,336
"(50.0, 52.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(52.0, 54.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(54.0, 56.0]",0.000954,0.000708,0.000000,0.000000,NaN,0.000000,1.363040e-06,2
"(56.0, 58.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(58.0, 60.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(60.0, 62.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(62.0, 64.0]",0.000863,0.000826,0.000000,0.000000,NaN,0.000000,1.590213e-06,3
"(64.0, 66.0]",0.000023,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,1
"(66.0, 68.0]",0.000114,0.000118,0.000000,0.000000,NaN,0.000000,2.271733e-07,1
"(68.0, 70.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(70.0, 72.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(72.0, 74.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(74.0, 76.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(76.0, 78.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(78.0, 80.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(80.0, 82.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(82.0, 84.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(84.0, 86.0]",0.000568,0.000472,0.000000,0.000000,NaN,0.000000,9.086931e-07,1

In [18]:
fp=df.groupby(pd.cut(df.fprice,np.arange(0,16000,500)))[['realisedBookingFlag', 'bookingFlag', 'detailsFlag', 'imp']].sum()
fp=funt(fp)
x=df.groupby(pd.cut(df['fprice'], np.arange(0,df['fprice'].max()+500,500)))[['hotelid']].nunique()
fp['UNIQUE_HOTELS_COUNT']=x

In [19]:
fp

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr,UNIQUE_HOTELS_COUNT
fprice,,,,,,,,
"(0, 500]",0.041355,0.076207,0.013639,0.029749,0.666667,0.009302,1.466415e-04,48
"(500, 1000]",17.287191,23.679603,24.782905,23.107244,0.284994,0.054396,4.556527e-02,428
"(1000, 1500]",30.103090,32.071519,36.026370,37.706381,0.319914,0.058384,6.171334e-02,634
"(1500, 2000]",26.858766,24.646787,25.253467,24.944221,0.301917,0.053254,4.742636e-02,607
"(2000, 2500]",15.579193,11.868039,10.006820,10.486390,0.320309,0.043824,2.283697e-02,865
"(2500, 3000]",6.504721,4.855064,2.925665,2.952551,0.308469,0.031320,9.342314e-03,791
"(3000, 3500]",1.969452,1.418404,0.627415,0.542912,0.264493,0.022990,2.729351e-03,695
"(3500, 4000]",0.796957,0.616040,0.206865,0.104120,0.153846,0.017453,1.185409e-03,638
"(4000, 4500]",0.348393,0.283208,0.081837,0.059497,0.222222,0.015019,5.449607e-04,306
"(4500, 5000]",0.191612,0.164466,0.018186,0.014874,0.250000,0.005747,3.164728e-04,348
"(5000, 5500]",0.118473,0.106454,0.011366,0.022311,0.600000,0.005549,2.048434e-04,132
"(5500, 6000]",0.066887,0.067228,0.015913,0.007437,0.142857,0.012302,1.293628e-04,90
"(6000, 6500]",0.045425,0.045843,0.004546,0.007437,0.500000,0.005155,8.821225e-05,65
"(6500, 7000]",0.031806,0.029892,0.002273,0.007437,1.000000,0.003953,5.751984e-05,48
"(7000, 7500]",0.018620,0.018904,0.006820,0.000000,0.000000,0.018750,3.637619e-05,34
"(7500, 8000]",0.012186,0.017486,0.002273,0.007437,1.000000,0.006757,3.364797e-05,27
"(8000, 8500]",0.013550,0.019968,0.013639,0.000000,0.000000,0.035503,3.842235e-05,21
"(8500, 9000]",0.001773,0.003190,0.000000,0.000000,NaN,0.000000,6.138481e-06,12
"(9000, 9500]",0.002637,0.002717,0.000000,0.000000,NaN,0.000000,5.229077e-06,12
"(9500, 10000]",0.002796,0.003308,0.000000,0.000000,NaN,0.000000,6.365833e-06,17
"(10000, 10500]",0.000955,0.001300,0.000000,0.000000,NaN,0.000000,2.500863e-06,9
"(10500, 11000]",0.002251,0.002009,0.000000,0.000000,NaN,0.000000,3.864970e-06,10
"(11000, 11500]",0.000818,0.001182,0.000000,0.000000,NaN,0.000000,2.273512e-06,8
"(11500, 12000]",0.000409,0.000591,0.000000,0.000000,NaN,0.000000,1.136756e-06,5
"(12000, 12500]",0.000250,0.000236,0.000000,0.000000,NaN,0.000000,4.547023e-07,4
"(12500, 13000]",0.000068,0.000118,0.000000,0.000000,NaN,0.000000,2.273512e-07,3
"(13000, 13500]",0.000182,0.000236,0.000000,0.000000,NaN,0.000000,4.547023e-07,2
"(13500, 14000]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,0
"(14000, 14500]",0.000114,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,2
"(14500, 15000]",0.000045,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,2
"(15000, 15500]",0.000023,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,1

# locality

# IS_CITY_SEARCH

In [20]:
d_city=df.loc[df['is_city_search']==1]

In [21]:
d_city.reset_index()

,index,objective,hotelid,requestid,userId,searchtime,displayCategory,placeid,searchdate,fprice,...,hotel_user_rr,user_cat_ctr,user_cat_btod,user_cat_br,user_cat_rr,is_locality_search,details_flag_count,distance,csv_weight,imp
0,0,1,48733,001fb3ab-b9d1-42ac-a2a4-0f3df3d34d6b,51184027,202101182121,OYO Rooms,None,20210118,1309.0,...,0.0,0.000000,0.000000,0.000000,0.0,0,1,2.936326,4.425263,1
1,3,1,272,0083df09-0b3e-4dfe-92dd-48ca92535fb4,73038151,202101171405,OYO Rooms,None,20210117,1314.0,...,0.0,0.000000,0.000000,0.000000,0.0,0,1,8.275095,4.425263,1
2,6,1,52391,00a5a3ef-b3bb-44a9-b366-45b177d54449,22954154,202101010421,OYO Rooms,None,20210101,810.0,...,0.0,0.045455,0.000000,0.000000,0.0,0,2,3.104521,4.425263,1
3,7,1,60998,00a5a3ef-b3bb-44a9-b366-45b177d54449,22954154,202101010421,OYO Rooms,None,20210101,1888.0,...,0.0,0.045455,0.000000,0.000000,0.0,0,2,3.609708,4.425263,1
4,8,1,107363,00b3a4c3-c691-444a-9a54-2628b9203488,109358043,202101160756,OYO Rooms,None,20210116,1163.0,...,0.0,0.064526,0.071429,0.010204,0.0,0,1,0.976784,4.425263,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615365,4407866,2,89812,7f4aa645-d817-4689-9d70-00bc1c874dbd,88514617,202012131041,OYO Rooms,None,20201213,599.0,...,0.0,0.000000,0.000000,0.000000,0.0,0,1,3.745455,116.450420,1
615366,4407890,2,46566,aa837152-8c94-4e98-8c0e-3a4e3b6a72ca,57416345,202012181518,OYO Rooms,None,20201218,599.0,...,0.0,0.010582,0.031250,0.001323,0.0,0,1,3.120984,116.450420,1
615367,4407901,2,106188,bba12390-f3c6-4b83-8f30-766a1d383ff9,20333877,202101102144,Silverkey,None,20210110,1242.0,...,0.0,0.000000,0.000000,0.000000,0.0,0,1,1.392462,116.450420,1
615368,4407919,2,77489,e6acd0f9-1ebf-411b-8f0b-3a0fbf86404b,107449811,202012222014,OYO Rooms,None,20201222,599.0,...,0.0,0.000000,0.000000,0.000000,0.0,0,2,11.016721,116.450420,1
615369,4407931,2,95621,fcc461e0-4cfe-4ebd-9dc5-a5c25bb0cbf6,55165462,202012291807,OYO Rooms,None,20201229,1845.0,...,0.0,0.005493,0.000000,0.000000,0.0,0,1,4.961543,116.450420,1

# Distance

In [22]:
x=d_city.groupby(pd.cut(d_city.distance,np.arange(0,d_city['distance'].max()+5,3)))["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"].sum()
x=funt(x)

/root/anaconda3/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [23]:
x

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
distance,,,,,,,
"(0.0, 3.0]",38.629145,40.628549,39.108138,41.866438,0.278791,0.034771,0.082677
"(3.0, 6.0]",37.925032,37.496275,49.342252,51.626712,0.272481,0.047535,0.076303
"(6.0, 9.0]",3.180961,3.373094,2.207358,1.797945,0.212121,0.023639,0.006864
"(9.0, 12.0]",4.835199,6.725247,5.440357,2.825342,0.135246,0.029222,0.013686
"(12.0, 15.0]",4.980086,3.965077,2.140468,0.684932,0.083333,0.019500,0.008069
"(15.0, 18.0]",0.484487,0.361633,0.200669,0.342466,0.444444,0.020045,0.000736
"(18.0, 21.0]",5.270352,4.191400,0.735786,0.342466,0.121212,0.006341,0.008529
"(21.0, 24.0]",2.690902,2.035293,0.267559,0.171233,0.166667,0.004749,0.004142
"(24.0, 27.0]",0.027863,0.016914,0.000000,0.000000,NaN,0.000000,0.000034
"(27.0, 30.0]",0.042942,0.063628,0.044593,0.085616,0.500000,0.025316,0.000129
"(30.0, 33.0]",1.865832,1.088121,0.512821,0.256849,0.130435,0.017024,0.002214
"(33.0, 36.0]",0.012292,0.002416,0.000000,0.000000,NaN,0.000000,0.000005
"(36.0, 39.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(39.0, 42.0]",0.002622,0.001611,0.000000,0.000000,NaN,0.000000,0.000003
"(42.0, 45.0]",0.001803,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(45.0, 48.0]",0.008687,0.014498,0.000000,0.000000,NaN,0.000000,0.000030
"(48.0, 51.0]",0.023602,0.021746,0.000000,0.000000,NaN,0.000000,0.000044
"(51.0, 54.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(54.0, 57.0]",0.006884,0.004833,0.000000,0.000000,NaN,0.000000,0.000010
"(57.0, 60.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(60.0, 63.0]",0.006064,0.005638,0.000000,0.000000,NaN,0.000000,0.000011
"(63.0, 66.0]",0.000328,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(66.0, 69.0]",0.000819,0.000805,0.000000,0.000000,NaN,0.000000,0.000002
"(69.0, 72.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(72.0, 75.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(75.0, 78.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(78.0, 81.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(81.0, 84.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(84.0, 87.0]",0.004097,0.003222,0.000000,0.000000,NaN,0.000000,0.000007
"(87.0, 90.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000

# RANK

In [24]:
y=d_city.groupby(pd.cut(d_city['rank'],np.arange(0,d_city['rank'].max()+5,5)))["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"].sum()
y=funt(y)
y

/root/anaconda3/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
rank,,,,,,,
"(0, 5]",61.232754,76.960001,84.533096,83.476027,0.257052,0.039364,0.156584
"(5, 10]",33.127712,19.693460,13.416537,14.811644,0.287375,0.024415,0.040069
"(10, 15]",2.083624,1.420082,1.002897,0.941781,0.244444,0.025309,0.002889
"(15, 20]",1.282155,0.483211,0.334299,0.085616,0.066667,0.024793,0.000983
"(20, 25]",0.845345,0.582250,0.245153,0.342466,0.363636,0.015089,0.001185
"(25, 30]",0.584364,0.223635,0.044573,0.000000,0.000000,0.007143,0.000455
"(30, 35]",0.274794,0.273154,0.200579,0.000000,0.000000,0.026316,0.000556
"(35, 40]",0.162991,0.062298,0.000000,0.000000,NaN,0.000000,0.000127
"(40, 45]",0.151291,0.147759,0.111433,0.256849,0.600000,0.027027,0.000301
"(45, 50]",0.097502,0.035143,0.022287,0.000000,0.000000,0.022727,0.000072
"(50, 55]",0.098802,0.096642,0.089146,0.085616,0.250000,0.033058,0.000197
"(55, 60]",0.058664,0.022364,0.000000,0.000000,NaN,0.000000,0.000046

In [25]:
raf=d_city.groupby('rank')[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
raf=funt(raf)
raf

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
rank,,,,,,,
1,14.668573,32.369573,41.475373,41.952055,0.263299,0.045919,0.065860
2,13.891642,17.438740,18.676176,18.407534,0.256563,0.038381,0.035481
3,12.586574,11.838280,11.343882,9.674658,0.222004,0.034341,0.024086
4,10.564213,8.427846,7.978605,8.732877,0.284916,0.033927,0.017147
5,9.521751,6.885563,5.059060,4.708904,0.242291,0.026331,0.014009
6,8.176707,5.250631,4.390461,4.880137,0.289340,0.029967,0.010683
7,7.444789,4.054982,2.830399,2.825342,0.259843,0.025015,0.008250
8,6.674359,3.572570,2.429240,3.082192,0.330275,0.024368,0.007269
9,5.727936,3.186799,1.782928,2.226027,0.325000,0.020050,0.006484
10,5.103921,3.628478,1.983508,1.797945,0.235955,0.019591,0.007383
11,0.479711,0.353024,0.334299,0.342466,0.266667,0.033937,0.000718
12,0.444611,0.295518,0.289726,0.171233,0.153846,0.035135,0.000601
13,0.415847,0.296316,0.178293,0.171233,0.250000,0.021563,0.000603
14,0.387572,0.261174,0.133720,0.256849,0.500000,0.018349,0.000531
15,0.355883,0.214051,0.066860,0.000000,0.000000,0.011194,0.000436
16,0.329883,0.174116,0.156006,0.000000,0.000000,0.032110,0.000354
17,0.304532,0.084662,0.066860,0.000000,0.000000,0.028302,0.000172
18,0.280319,0.078272,0.022287,0.000000,0.000000,0.010204,0.000159
19,0.201992,0.084662,0.066860,0.085616,0.333333,0.028302,0.000172
20,0.165429,0.061500,0.022287,0.000000,0.000000,0.012987,0.000125
21,0.184604,0.123798,0.000000,0.000000,NaN,0.000000,0.000252
22,0.177617,0.137376,0.022287,0.000000,0.000000,0.005814,0.000280
23,0.168517,0.111818,0.089146,0.085616,0.250000,0.028571,0.000228
24,0.160391,0.109421,0.044573,0.085616,0.500000,0.014599,0.000223
25,0.154216,0.099837,0.089146,0.171233,0.500000,0.032000,0.000203
26,0.144953,0.095045,0.044573,0.000000,0.000000,0.016807,0.000193
27,0.136178,0.031948,0.000000,0.000000,NaN,0.000000,0.000065
28,0.128541,0.034344,0.000000,0.000000,NaN,0.000000,0.000070
29,0.096040,0.029552,0.000000,0.000000,NaN,0.000000,0.000060
30,0.078652,0.032747,0.000000,0.000000,NaN,0.000000,0.000067
31,0.059639,0.063896,0.066860,0.000000,0.000000,0.037500,0.000130
32,0.058989,0.063097,0.066860,0.000000,0.000000,0.037975,0.000128
33,0.055576,0.053513,0.022287,0.000000,0.000000,0.014925,0.000109
34,0.051839,0.051117,0.022287,0.000000,0.000000,0.015625,0.000104
35,0.048751,0.041532,0.022287,0.000000,0.000000,0.019231,0.000085
36,0.045989,0.044727,0.000000,0.000000,NaN,0.000000,0.000091
37,0.041926,0.007188,0.000000,0.000000,NaN,0.000000,0.000015
38,0.039488,0.001597,0.000000,0.000000,NaN,0.000000,0.000003
39,0.021938,0.004792,0.000000,0.000000,NaN,0.000000,0.000010
40,0.013650,0.003993,0.000000,0.000000,NaN,0.000000,0.000008
41,0.031363,0.028753,0.044573,0.085616,0.500000,0.055556,0.000059
42,0.031363,0.025558,0.022287,0.085616,1.000000,0.031250,0.000052
43,0.030876,0.035143,0.022287,0.085616,1.000000,0.022727,0.000072
44,0.029738,0.027954,0.022287,0.000000,0.000000,0.028571,0.000057
45,0.027951,0.030350,0.000000,0.000000,NaN,0.000000,0.000062
46,0.026488,0.017571,0.022287,0.000000,0.000000,0.045455,0.000036
47,0.025026,0.009584,0.000000,0.000000,NaN,0.000000,0.000020
48,0.023076,0.001597,0.000000,0.000000,NaN,0.000000,0.000003
49,0.013000,0.002396,0.000000,0.000000,NaN,0.000000,0.000005
50,0.009913,0.003993,0.000000,0.000000,NaN,0.000000,0.000008
51,0.021613,0.020766,0.044573,0.000000,0.000000,0.076923,0.000042
52,0.021288,0.024760,0.022287,0.000000,0.000000,0.032258,0.000050
53,0.019500,0.022364,0.022287,0.085616,1.000000,0.035714,0.000046
54,0.019013,0.015974,0.000000,0.000000,NaN,0.000000,0.000033
55,0.017388,0.012779,0.000000,0.000000,NaN,0.000000,0.000026
56,0.015600,0.011182,0.000000,0.000000,NaN,0.000000,0.000023
57,0.014625,0.006390,0.000000,0.000000,NaN,0.000000,0.000013
58,0.014625,0.002396,0.000000,0.000000,NaN,0.000000,0.000005
59,0.008613,0.000799,0.000000,0.000000,NaN,0.000000,0.000002
60,0.005200,0.001597,0.000000,0.000000,NaN,0.000000,0.000003

# PRICE

In [26]:
fp=d_city.groupby(pd.cut(d_city['fprice'],np.arange(0,d_city['fprice'].max()+1000,500)))[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
fp=funt(fp)
fp

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
fprice,,,,,,,
"(0.0, 500.0]",0.048507,0.089619,0.022302,0.000000,0.000000,0.008929,0.000182
"(500.0, 1000.0]",40.506490,46.954942,56.645852,56.506849,0.259843,0.043285,0.095518
"(1000.0, 1500.0]",27.986184,26.174454,24.219447,25.256849,0.271639,0.033200,0.053245
"(1500.0, 2000.0]",15.705156,13.898202,11.797502,11.472603,0.253308,0.030457,0.028272
"(2000.0, 2500.0]",9.721558,7.739272,4.772525,4.880137,0.266355,0.022126,0.015744
"(2500.0, 3000.0]",4.285207,3.315916,1.806423,1.541096,0.222222,0.019546,0.006745
"(3000.0, 3500.0]",0.921956,0.880990,0.356824,0.256849,0.187500,0.014532,0.001792
"(3500.0, 4000.0]",0.418331,0.393685,0.178412,0.085616,0.125000,0.016260,0.000801
"(4000.0, 4500.0]",0.161798,0.182439,0.066905,0.000000,0.000000,0.013158,0.000371
"(4500.0, 5000.0]",0.094898,0.113625,0.000000,0.000000,NaN,0.000000,0.000231
"(5000.0, 5500.0]",0.048181,0.059213,0.000000,0.000000,NaN,0.000000,0.000120
"(5500.0, 6000.0]",0.024742,0.031207,0.000000,0.000000,NaN,0.000000,0.000063
"(6000.0, 6500.0]",0.017742,0.024005,0.000000,0.000000,NaN,0.000000,0.000049
"(6500.0, 7000.0]",0.006185,0.007202,0.000000,0.000000,NaN,0.000000,0.000015
"(7000.0, 7500.0]",0.004720,0.008002,0.000000,0.000000,NaN,0.000000,0.000016
"(7500.0, 8000.0]",0.014812,0.040809,0.000000,0.000000,NaN,0.000000,0.000083
"(8000.0, 8500.0]",0.026044,0.061613,0.133809,0.000000,0.000000,0.077922,0.000125
"(8500.0, 9000.0]",0.002279,0.008802,0.000000,0.000000,NaN,0.000000,0.000018
"(9000.0, 9500.0]",0.001302,0.004001,0.000000,0.000000,NaN,0.000000,0.000008
"(9500.0, 10000.0]",0.002442,0.008002,0.000000,0.000000,NaN,0.000000,0.000016
"(10000.0, 10500.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(10500.0, 11000.0]",0.000651,0.001600,0.000000,0.000000,NaN,0.000000,0.000003
"(11000.0, 11500.0]",0.000326,0.001600,0.000000,0.000000,NaN,0.000000,0.000003
"(11500.0, 12000.0]",0.000163,0.000800,0.000000,0.000000,NaN,0.000000,0.000002
"(12000.0, 12500.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(12500.0, 13000.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(13000.0, 13500.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(13500.0, 14000.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(14000.0, 14500.0]",0.000326,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(14500.0, 15000.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000

In [27]:
x=d_city.groupby('distance')[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
x

           realisedBookingFlag  bookingFlag  detailsFlag   imp
distance
0.201126                     0            0           58   559
0.567626                     2            4          175   798
0.653255                     0            2           85   570
0.654967                     0            0            0     1
0.676538                     3           15          266  1264
...                        ...          ...          ...   ...
62.397861                    0            0            2     2
63.997893                    0            0            0     1
64.010519                    0            0            0     1
67.899285                    0            0            1     5
85.422287                    0            0            4    25

[504 rows x 4 columns]

# IS_LOCALITY

# RANK

In [28]:
d_loc=df.loc[df.is_locality_search==1]

In [29]:
y=d_loc.groupby(pd.cut(d_loc['rank'],np.arange(0,d_loc['rank'].max()+5,5)))["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"].sum()
y=funt(y)
y

/root/anaconda3/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
rank,,,,,,,
"(0, 5]",58.476910,76.269460,83.971284,86.579304,0.297828,0.058951,0.144206
"(5, 10]",34.741728,19.975014,13.861968,12.121554,0.252589,0.037158,0.037768
"(10, 15]",2.949802,1.824122,1.151901,0.700407,0.175637,0.033812,0.003449
"(15, 20]",1.791599,0.656439,0.394844,0.169453,0.123967,0.032207,0.001241
"(20, 25]",0.893916,0.618524,0.277370,0.112969,0.117647,0.024011,0.001169
"(25, 30]",0.580539,0.203030,0.117474,0.112969,0.277778,0.030981,0.000384
"(30, 35]",0.209117,0.199710,0.117474,0.101672,0.250000,0.031496,0.000378
"(35, 40]",0.119689,0.058882,0.029369,0.011297,0.111111,0.026706,0.000111
"(40, 45]",0.094813,0.103087,0.042421,0.056484,0.384615,0.022034,0.000195
"(45, 50]",0.055533,0.021491,0.009790,0.011297,0.333333,0.024390,0.000041
"(50, 55]",0.052560,0.055912,0.016316,0.011297,0.200000,0.015625,0.000106
"(55, 60]",0.033796,0.014327,0.009790,0.011297,0.333333,0.036585,0.000027

In [30]:
y=d_loc.groupby('rank')[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
y=funt(y)
y

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
rank,,,,,,,
1,13.250537,30.417941,39.128732,41.177135,0.303978,0.068878,0.057512
2,13.086217,17.888107,19.765051,20.560325,0.300479,0.059163,0.033822
3,12.047438,11.942061,11.333007,11.217804,0.285920,0.050813,0.022579
4,10.531755,8.676987,7.733725,8.077271,0.301688,0.047724,0.016406
5,9.560964,7.344364,6.010768,5.546769,0.266558,0.043822,0.013886
6,8.217133,5.318086,4.163811,3.558518,0.246865,0.041923,0.010055
7,7.603063,4.212255,2.940121,2.869408,0.281909,0.037373,0.007964
8,7.032072,3.580976,2.607277,2.157704,0.239049,0.038985,0.006771
9,6.224280,3.237817,2.222222,2.056033,0.267254,0.036749,0.006122
10,5.665181,3.625880,1.928536,1.479892,0.221658,0.028479,0.006856
11,0.683478,0.464243,0.336107,0.259828,0.223301,0.038766,0.000878
12,0.635015,0.406409,0.257791,0.135563,0.151899,0.033964,0.000768
13,0.591176,0.351545,0.202317,0.101672,0.145161,0.030815,0.000665
14,0.542977,0.316426,0.176211,0.090375,0.148148,0.029818,0.000598
15,0.497156,0.285500,0.179475,0.112969,0.181818,0.033660,0.000540
16,0.454177,0.233432,0.133790,0.079078,0.170732,0.030689,0.000441
17,0.414930,0.127549,0.075053,0.056484,0.217391,0.031507,0.000241
18,0.381927,0.100117,0.065264,0.011297,0.050000,0.034904,0.000189
19,0.292202,0.092604,0.068527,0.011297,0.047619,0.039623,0.000175
20,0.248363,0.102738,0.052211,0.011297,0.062500,0.027211,0.000194
21,0.197620,0.151311,0.055474,0.011297,0.058824,0.019630,0.000286
22,0.189857,0.131917,0.068527,0.033891,0.142857,0.027815,0.000249
23,0.180012,0.123355,0.068527,0.033891,0.142857,0.029745,0.000233
24,0.168813,0.113047,0.039158,0.011297,0.083333,0.018547,0.000214
25,0.157614,0.098894,0.045684,0.022594,0.142857,0.024735,0.000187
26,0.146580,0.082819,0.045684,0.022594,0.142857,0.029536,0.000157
27,0.135843,0.032324,0.019579,0.033891,0.500000,0.032432,0.000061
28,0.126263,0.026733,0.026105,0.033891,0.375000,0.052288,0.000051
29,0.094020,0.025684,0.016316,0.011297,0.200000,0.034014,0.000049
30,0.077832,0.035469,0.009790,0.011297,0.333333,0.014778,0.000067
31,0.046878,0.041235,0.026105,0.022594,0.250000,0.033898,0.000078
32,0.045160,0.043856,0.022842,0.011297,0.142857,0.027888,0.000083
33,0.042418,0.041060,0.039158,0.045188,0.333333,0.051064,0.000078
34,0.038982,0.037216,0.016316,0.011297,0.200000,0.023474,0.000070
35,0.035679,0.036343,0.013053,0.011297,0.250000,0.019231,0.000069
36,0.033531,0.029703,0.013053,0.011297,0.250000,0.023529,0.000056
37,0.030360,0.008387,0.003263,0.000000,0.000000,0.020833,0.000016
38,0.028378,0.007863,0.003263,0.000000,0.000000,0.022222,0.000015
39,0.016452,0.005766,0.009790,0.000000,0.000000,0.090909,0.000011
40,0.010968,0.007164,0.000000,0.000000,NaN,0.000000,0.000014
41,0.020746,0.023763,0.003263,0.011297,1.000000,0.007353,0.000045
42,0.020416,0.024461,0.013053,0.022594,0.500000,0.028571,0.000046
43,0.019623,0.019744,0.009790,0.000000,0.000000,0.026549,0.000037
44,0.017575,0.019569,0.006526,0.011297,0.500000,0.017857,0.000037
45,0.016452,0.015550,0.009790,0.011297,0.333333,0.033708,0.000029
46,0.014965,0.011532,0.003263,0.000000,0.000000,0.015152,0.000022
47,0.013809,0.003669,0.000000,0.000000,NaN,0.000000,0.000007
48,0.013115,0.003320,0.006526,0.011297,0.500000,0.105263,0.000006
49,0.008127,0.001922,0.000000,0.000000,NaN,0.000000,0.000004
50,0.005517,0.001048,0.000000,0.000000,NaN,0.000000,0.000002
51,0.011397,0.012755,0.006526,0.011297,0.500000,0.027397,0.000024
52,0.011100,0.011182,0.003263,0.000000,0.000000,0.015625,0.000021
53,0.010505,0.011532,0.003263,0.000000,0.000000,0.015152,0.000022
54,0.010076,0.010658,0.000000,0.000000,NaN,0.000000,0.000020
55,0.009481,0.009785,0.003263,0.000000,0.000000,0.017857,0.000019
56,0.009085,0.006989,0.003263,0.011297,1.000000,0.025000,0.000013
57,0.008589,0.002446,0.000000,0.000000,NaN,0.000000,0.000005
58,0.008259,0.001922,0.000000,0.000000,NaN,0.000000,0.000004
59,0.004922,0.001747,0.003263,0.000000,0.000000,0.100000,0.000003
60,0.002940,0.001223,0.003263,0.000000,0.000000,0.142857,0.000002

# Distance

In [31]:
y=d_loc.groupby(pd.cut(d_loc.distance,np.arange(0,d_loc.distance.max()+10,10)))[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
y=funt(y)
y

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
distance,,,,,,,
"(0.0, 10.0]",83.826827,86.721019,94.073881,96.192951,0.295373,0.058083,0.163965
"(10.0, 20.0]",8.919229,7.858568,4.271636,3.140533,0.212376,0.029104,0.014858
"(20.0, 30.0]",2.827828,2.258535,0.809294,0.395391,0.141129,0.019186,0.004270
"(30.0, 40.0]",3.725320,2.613233,0.704869,0.135563,0.055556,0.014442,0.004941
"(40.0, 50.0]",0.700796,0.548646,0.140321,0.135563,0.279070,0.013694,0.001037

In [32]:
y=d_loc.groupby('distance')[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
y

           realisedBookingFlag  bookingFlag  detailsFlag  imp
distance
0.000000                     0            1           12   29
0.000100                     9           19          157  278
0.000200                     5           15          126  206
0.000203                     0            0            0    1
0.000300                     4           12           95  224
...                        ...          ...          ...  ...
49.988600                    0            0            1    1
49.989000                    0            0            3   21
49.990600                    0            0            0    1
49.997200                    0            0            1    5
49.999500                    0            0            0    1

[121403 rows x 4 columns]

# PRICE

In [33]:
y=d_loc.groupby(pd.cut(d_loc.fprice,np.arange(0,d_loc.fprice.max()+1000,500)))[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
y=funt(y)
y

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
fprice,,,,,,,
"(0.0, 500.0]",0.039552,0.068174,0.006533,0.011311,0.500000,0.005141,1.288576e-04
"(500.0, 1000.0]",13.724694,19.768805,21.417606,19.726275,0.265975,0.058129,3.736573e-02
"(1000.0, 1500.0]",30.580661,32.731103,36.557243,37.767221,0.298338,0.059926,6.186623e-02
"(1500.0, 2000.0]",28.261323,26.242155,26.712396,26.682502,0.288457,0.054615,4.960124e-02
"(2000.0, 2500.0]",16.411955,12.679263,10.958680,11.638955,0.306706,0.046373,2.396553e-02
"(2500.0, 3000.0]",6.970369,5.349973,3.214111,3.246239,0.291667,0.032234,1.011218e-02
"(3000.0, 3500.0]",2.121778,1.562212,0.734934,0.644723,0.253333,0.025241,2.952794e-03
"(3500.0, 4000.0]",0.885010,0.697861,0.222113,0.101798,0.132353,0.017077,1.319051e-03
"(4000.0, 4500.0]",0.398498,0.327725,0.097991,0.090488,0.266667,0.016043,6.194441e-04
"(4500.0, 5000.0]",0.221708,0.192779,0.022865,0.022622,0.285714,0.006364,3.643789e-04
"(5000.0, 5500.0]",0.140485,0.129337,0.013065,0.022622,0.500000,0.005420,2.444651e-04
"(5500.0, 6000.0]",0.082482,0.083246,0.019598,0.011311,0.166667,0.012632,1.573454e-04
"(6000.0, 6500.0]",0.055684,0.056782,0.006533,0.011311,0.500000,0.006173,1.073261e-04
"(6500.0, 7000.0]",0.039717,0.038906,0.003266,0.011311,1.000000,0.004505,7.353828e-05
"(7000.0, 7500.0]",0.023618,0.024536,0.009799,0.000000,0.000000,0.021429,4.637549e-05
"(7500.0, 8000.0]",0.013880,0.016474,0.003266,0.011311,1.000000,0.010638,3.113783e-05
"(8000.0, 8500.0]",0.013681,0.015247,0.000000,0.000000,NaN,0.000000,2.881905e-05
"(8500.0, 9000.0]",0.001988,0.002804,0.000000,0.000000,NaN,0.000000,5.300056e-06
"(9000.0, 9500.0]",0.003246,0.002629,0.000000,0.000000,NaN,0.000000,4.968803e-06
"(9500.0, 10000.0]",0.003379,0.003155,0.000000,0.000000,NaN,0.000000,5.962563e-06
"(10000.0, 10500.0]",0.001358,0.001753,0.000000,0.000000,NaN,0.000000,3.312535e-06
"(10500.0, 11000.0]",0.002418,0.002278,0.000000,0.000000,NaN,0.000000,4.306296e-06
"(11000.0, 11500.0]",0.001060,0.001227,0.000000,0.000000,NaN,0.000000,2.318775e-06
"(11500.0, 12000.0]",0.000563,0.000701,0.000000,0.000000,NaN,0.000000,1.325014e-06
"(12000.0, 12500.0]",0.000331,0.000351,0.000000,0.000000,NaN,0.000000,6.625070e-07
"(12500.0, 13000.0]",0.000099,0.000175,0.000000,0.000000,NaN,0.000000,3.312535e-07
"(13000.0, 13500.0]",0.000265,0.000351,0.000000,0.000000,NaN,0.000000,6.625070e-07
"(13500.0, 14000.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00
"(14000.0, 14500.0]",0.000099,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00
"(14500.0, 15000.0]",0.000066,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00
"(15000.0, 15500.0]",0.000033,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00
"(15500.0, 16000.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00

In [34]:
y=d_loc.groupby('fprice')[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
y=funt(y)
y

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
fprice,,,,,,,
0.0,0.270266,0.302098,0.097895,0.124266,0.366667,0.017351,5.711894e-04
299.0,0.002412,0.004019,0.000000,0.000000,NaN,0.000000,7.598239e-06
333.0,0.000033,0.000175,0.000000,0.000000,NaN,0.000000,3.303582e-07
347.0,0.000066,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00
350.0,0.000066,0.000175,0.000000,0.000000,NaN,0.000000,3.303582e-07
...,...,...,...,...,...,...,...
13491.0,0.000165,0.000349,0.000000,0.000000,NaN,0.000000,6.607165e-07
14305.0,0.000033,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00
14325.0,0.000066,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00
14916.0,0.000066,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00
15041.0,0.000033,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00

# IS_NEARBY_SEARCH

In [35]:
d_near=df.loc[df.is_nearBy_search==1]
d_near['is_nearBy_search']

5          1
9          1
24         1
45         1
46         1
          ..
4407892    1
4407898    1
4407900    1
4407913    1
4407930    1
Name: is_nearBy_search, Length: 765555, dtype: int32

# PRICE

In [36]:
y=d_near.groupby(pd.cut(d_near.fprice,np.arange(0,d_near.fprice.max()+500,500)))[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
y=funt(y)
y

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
fprice,,,,,,,
"(0.0, 500.0]",0.042728,0.095489,0.033742,0.087285,1.000000,0.020833,0.000188
"(500.0, 1000.0]",12.700474,19.188074,20.301428,20.453884,0.389474,0.062379,0.037810
"(1000.0, 1500.0]",29.918464,34.462408,40.152964,41.780623,0.402241,0.068693,0.067907
"(1500.0, 2000.0]",30.279756,27.518866,27.016084,25.050916,0.358451,0.057881,0.054225
"(2000.0, 2500.0]",16.996773,12.219997,9.369025,9.426826,0.388956,0.045203,0.024079
"(2500.0, 3000.0]",6.449674,4.257901,2.496907,2.676753,0.414414,0.034574,0.008390
"(3000.0, 3500.0]",2.209431,1.319611,0.393657,0.378237,0.371429,0.017588,0.002600
"(3500.0, 4000.0]",0.753551,0.490710,0.168710,0.116381,0.266667,0.020270,0.000967
"(4000.0, 4500.0]",0.300532,0.198273,0.033742,0.000000,0.000000,0.010033,0.000391
"(4500.0, 5000.0]",0.150527,0.099468,0.011247,0.000000,0.000000,0.006667,0.000196
"(5000.0, 5500.0]",0.088069,0.059018,0.011247,0.029095,1.000000,0.011236,0.000116
"(5500.0, 6000.0]",0.039200,0.036472,0.011247,0.000000,0.000000,0.018182,0.000072
"(6000.0, 6500.0]",0.027179,0.022546,0.000000,0.000000,NaN,0.000000,0.000044
"(6500.0, 7000.0]",0.021168,0.014589,0.000000,0.000000,NaN,0.000000,0.000029
"(7000.0, 7500.0]",0.010061,0.006631,0.000000,0.000000,NaN,0.000000,0.000013
"(7500.0, 8000.0]",0.003397,0.001989,0.000000,0.000000,NaN,0.000000,0.000004
"(8000.0, 8500.0]",0.003005,0.003316,0.000000,0.000000,NaN,0.000000,0.000007
"(8500.0, 9000.0]",0.000523,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(9000.0, 9500.0]",0.001307,0.001989,0.000000,0.000000,NaN,0.000000,0.000004
"(9500.0, 10000.0]",0.000784,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(10000.0, 10500.0]",0.000131,0.000663,0.000000,0.000000,NaN,0.000000,0.000001
"(10500.0, 11000.0]",0.002875,0.001326,0.000000,0.000000,NaN,0.000000,0.000003
"(11000.0, 11500.0]",0.000261,0.000663,0.000000,0.000000,NaN,0.000000,0.000001
"(11500.0, 12000.0]",0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
"(12000.0, 12500.0]",0.000131,0.000000,0.000000,0.000000,NaN,NaN,0.000000

In [37]:
y=d_near.groupby('fprice')[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
y=funt(y)
y

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
fprice,,,,,,,
0.0,0.032003,0.038446,0.011246,0.0,0.0,0.017241,0.000076
299.0,0.000392,0.000000,0.000000,0.0,NaN,NaN,0.000000
347.0,0.000131,0.000663,0.000000,0.0,NaN,0.000000,0.000001
356.0,0.000261,0.000663,0.000000,0.0,NaN,0.000000,0.000001
391.0,0.000653,0.001989,0.000000,0.0,NaN,0.000000,0.000004
...,...,...,...,...,...,...,...
10800.0,0.000131,0.000000,0.000000,0.0,NaN,NaN,0.000000
10824.0,0.000131,0.000000,0.000000,0.0,NaN,NaN,0.000000
11145.0,0.000131,0.000663,0.000000,0.0,NaN,0.000000,0.000001
11187.0,0.000131,0.000000,0.000000,0.0,NaN,NaN,0.000000
12142.0,0.000131,0.000000,0.000000,0.0,NaN,NaN,0.000000

# Distance

In [38]:
y=d_near.groupby(pd.cut(d_near.distance,np.arange(0,d_near.distance.max()+8,10)))[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
y=funt(y)
y

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
distance,,,,,,,
"(0.0, 10.0]",89.704596,92.763376,96.743662,97.316219,0.388539,0.061490,0.182570
"(10.0, 20.0]",7.829193,5.638229,2.839437,2.479580,0.337302,0.029692,0.011097
"(20.0, 30.0]",1.468325,0.975247,0.259155,0.175029,0.260870,0.015668,0.001919
"(30.0, 40.0]",0.831048,0.510211,0.123944,0.029172,0.090909,0.014323,0.001004
"(40.0, 50.0]",0.166837,0.112937,0.033803,0.000000,0.000000,0.017647,0.000222

In [39]:
y=d_near.groupby('distance')[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
y=funt(y)
y

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
distance,,,,,,,
0.0000,0.096270,0.221397,0.191183,0.261856,0.529412,0.050898,0.000436
0.0001,0.341713,0.690044,0.528565,0.407332,0.297872,0.045149,0.001360
0.0002,0.475081,1.057935,0.910931,0.872854,0.370370,0.050752,0.002085
0.0003,0.160015,0.338725,0.314890,0.320047,0.392857,0.054795,0.000667
0.0004,0.000392,0.001326,0.000000,0.000000,NaN,0.000000,0.000003
...,...,...,...,...,...,...,...
49.9378,0.000131,0.000000,0.000000,0.000000,NaN,NaN,0.000000
49.9416,0.000131,0.000000,0.000000,0.000000,NaN,NaN,0.000000
49.9693,0.000131,0.000000,0.000000,0.000000,NaN,NaN,0.000000
49.9798,0.000261,0.000663,0.000000,0.000000,NaN,0.000000,0.000001
49.9811,0.000131,0.000663,0.000000,0.000000,NaN,0.000000,0.000001

# Rank

In [40]:
y=d_near.groupby(pd.cut(d_near['rank'],np.arange(0,d_near['rank'].max()+1,5)))[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
y=funt(y)
y

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
rank,,,,,,,
"(0, 5]",60.370450,77.521543,83.175888,84.550480,0.392915,0.063241,0.152764
"(5, 10]",34.388646,19.151531,14.462438,13.209194,0.353033,0.044511,0.037740
"(10, 15]",1.990582,1.601485,1.225821,1.309281,0.412844,0.045116,0.003156
"(15, 20]",1.146097,0.369879,0.213675,0.174571,0.315789,0.034050,0.000729
"(20, 25]",0.953295,0.688718,0.528565,0.378237,0.276596,0.045236,0.001357
"(25, 30]",0.573701,0.173671,0.123707,0.116381,0.363636,0.041985,0.000342
"(30, 35]",0.212003,0.242609,0.146199,0.116381,0.307692,0.035519,0.000478
"(35, 40]",0.111161,0.042423,0.011246,0.000000,0.000000,0.015625,0.000084
"(40, 45]",0.106197,0.113350,0.089969,0.145476,0.625000,0.046784,0.000223
"(45, 50]",0.060610,0.021875,0.000000,0.000000,NaN,0.000000,0.000043
"(50, 55]",0.055777,0.058332,0.011246,0.000000,0.000000,0.011364,0.000115
"(55, 60]",0.031480,0.014583,0.011246,0.000000,0.000000,0.045455,0.000029

In [41]:
y=d_near.groupby('rank')[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
y=funt(y)
y

,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
rank,,,,,,,
1,13.768312,30.373857,36.156095,37.561827,0.401555,0.070163,0.059855
2,13.641868,17.918600,19.410706,19.493745,0.388181,0.063850,0.035310
3,12.448224,12.219276,11.977058,11.667152,0.376526,0.057774,0.024079
4,10.763694,9.087896,8.490778,8.874018,0.403974,0.055069,0.017909
5,9.748353,7.921914,7.141251,6.953739,0.376378,0.053134,0.015611
6,8.154215,5.325467,4.700855,4.509747,0.370813,0.052029,0.010494
7,7.585608,4.030227,3.171390,3.113180,0.379433,0.046382,0.007942
8,6.984475,3.442264,2.631579,2.240326,0.329060,0.045061,0.006783
9,6.113473,3.020019,2.136752,1.949374,0.352632,0.041703,0.005951
10,5.550875,3.333554,1.821862,1.396567,0.296296,0.032213,0.006569
11,0.447780,0.369879,0.326136,0.407332,0.482759,0.051971,0.000729
12,0.424006,0.343365,0.168691,0.145476,0.333333,0.028958,0.000677
13,0.402322,0.318839,0.179937,0.116381,0.250000,0.033264,0.000628
14,0.374500,0.302930,0.314890,0.407332,0.500000,0.061269,0.000597
15,0.341974,0.266472,0.236167,0.232761,0.380952,0.052239,0.000525
16,0.312584,0.201511,0.112461,0.087285,0.300000,0.032895,0.000397
17,0.280058,0.065624,0.022492,0.000000,0.000000,0.020202,0.000129
18,0.259550,0.039772,0.033738,0.029095,0.333333,0.050000,0.000078
19,0.163541,0.034469,0.033738,0.029095,0.333333,0.057692,0.000068
20,0.130363,0.028503,0.011246,0.029095,1.000000,0.023256,0.000056
21,0.213309,0.167705,0.146199,0.174571,0.461538,0.051383,0.000330
22,0.203512,0.149808,0.078722,0.058190,0.285714,0.030973,0.000295
23,0.192148,0.137213,0.112461,0.087285,0.300000,0.048309,0.000270
24,0.180131,0.114013,0.134953,0.029095,0.083333,0.069767,0.000225
25,0.164195,0.119979,0.056230,0.029095,0.200000,0.027624,0.000236
26,0.152047,0.086173,0.101215,0.058190,0.222222,0.069231,0.000170
27,0.136764,0.021212,0.000000,0.000000,NaN,0.000000,0.000042
28,0.126575,0.019886,0.011246,0.029095,1.000000,0.033333,0.000039
29,0.089347,0.015909,0.011246,0.029095,1.000000,0.041667,0.000031
30,0.068970,0.030492,0.000000,0.000000,NaN,0.000000,0.000060
31,0.047155,0.058995,0.044984,0.058190,0.500000,0.044944,0.000116
32,0.045980,0.058995,0.011246,0.000000,0.000000,0.011236,0.000116
33,0.042322,0.047726,0.044984,0.000000,0.000000,0.055556,0.000094
34,0.039840,0.045075,0.033738,0.029095,0.333333,0.044118,0.000089
35,0.036705,0.031818,0.011246,0.029095,1.000000,0.020833,0.000063
36,0.033048,0.029829,0.011246,0.000000,0.000000,0.022222,0.000059
37,0.030566,0.006629,0.000000,0.000000,NaN,0.000000,0.000013
38,0.027823,0.001326,0.000000,0.000000,NaN,0.000000,0.000003
39,0.013716,0.003314,0.000000,0.000000,NaN,0.000000,0.000007
40,0.006009,0.001326,0.000000,0.000000,NaN,0.000000,0.000003
41,0.022859,0.028503,0.011246,0.029095,1.000000,0.023256,0.000056
42,0.022337,0.025189,0.000000,0.000000,NaN,0.000000,0.000050
43,0.021161,0.019886,0.033738,0.058190,0.666667,0.100000,0.000039
44,0.020508,0.022537,0.033738,0.029095,0.333333,0.088235,0.000044
45,0.019332,0.017235,0.011246,0.029095,1.000000,0.038462,0.000034
46,0.017373,0.014583,0.000000,0.000000,NaN,0.000000,0.000029
47,0.016067,0.003314,0.000000,0.000000,NaN,0.000000,0.000007
48,0.015675,0.001989,0.000000,0.000000,NaN,0.000000,0.000004
49,0.007576,0.001989,0.000000,0.000000,NaN,0.000000,0.000004
50,0.003919,0.000000,0.000000,0.000000,NaN,NaN,0.000000
51,0.012409,0.015909,0.000000,0.000000,NaN,0.000000,0.000031
52,0.012409,0.015909,0.000000,0.000000,NaN,0.000000,0.000031
53,0.011103,0.006629,0.000000,0.000000,NaN,0.000000,0.000013
54,0.010189,0.007954,0.000000,0.000000,NaN,0.000000,0.000016
55,0.009666,0.011932,0.011246,0.000000,0.000000,0.055556,0.000024
56,0.009405,0.011269,0.011246,0.000000,0.000000,0.058824,0.000022
57,0.008229,0.000663,0.000000,0.000000,NaN,0.000000,0.000001
58,0.007184,0.001989,0.000000,0.000000,NaN,0.000000,0.000004
59,0.004572,0.000000,0.000000,0.000000,NaN,NaN,0.000000
60,0.002090,0.000663,0.000000,0.000000,NaN,0.000000,0.000001

In [42]:
x=df[df.distance<=10]
x
de=x.groupby(pd.cut(x['distance'],np.arange(0,11,2)))[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
de
r=x.groupby(pd.cut(x['distance'],np.arange(0,11,2)))[['hotelid']].nunique()
x=df[(df.distance>10)&(df.distance<=30)]
y=x.groupby(pd.cut(x['distance'],np.arange(10,31,5)))[["realisedBookingFlag", "bookingFlag", "detailsFlag", "imp"]].sum()
fr=[de.reset_index(),y.reset_index()]
o=pd.concat(fr)

z=x.groupby(pd.cut(x['distance'],np.arange(10,31,5)))[['hotelid']].nunique()
o['u']=r
funt(o).reset_index()

,index,distance,u,%impression,%detailsPage,%bookings,%realised,rr,br,ctr
0,0,"(0, 2]",NaN,32.193713,38.112608,48.027821,51.974665,0.332269,0.066637,0.074148
1,1,"(2, 4]",815.0,26.692083,26.043134,27.589915,27.481371,0.305830,0.056021,0.050667
2,2,"(4, 6]",815.0,14.288522,12.459772,10.126293,9.448584,0.286489,0.042977,0.024240
3,3,"(6, 8]",731.0,7.373670,6.558966,5.195845,4.701937,0.277851,0.041890,0.012760
4,4,"(8, 10]",731.0,6.855113,6.087608,3.980965,3.017884,0.232759,0.034581,0.011843
5,0,"(10, 15]",NaN,6.390081,5.781031,3.340350,2.295082,0.210959,0.030555,0.011247
6,1,"(15, 20]",815.0,3.293381,2.721923,1.079894,0.745156,0.211864,0.020980,0.005295
7,2,"(20, 25]",815.0,1.711937,1.352372,0.347762,0.223547,0.197368,0.013598,0.002631
8,3,"(25, 30]",731.0,1.201500,0.882586,0.311156,0.111773,0.110294,0.018643,0.001717